@import url('https://fonts.googleapis.com/css2?family=Agu+Display:MORF@60&family=Special+Elite&family=Teko&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-image: linear-gradient(#7b8cde, #FFEFD3);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    font-family: "Leko", sans-serif;
    font-optical-sizing: auto;
}

@layer utilities {
    .font-morf {
      font-variation-settings: "MORF" 60;
    }
  }